*{
  font-family: "poppins";
}

#book-card {
  display: flex;
  background-color: #ffffff;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 5px;
}

.view {
  background-color: rgb(68, 68, 68);
  color: aliceblue;
  padding: 3px 8px;
  border-radius: 5px;
  border: solid black solid wheat;
}

.edit {
  background-color: rgb(68, 68, 68);
  padding: 3px 8px;
  border-radius: 5px;
  border: solid black solid wheat;
}

.delete {
  background-color: rgb(68, 68, 68);
  padding: 3px 8px;
  border-radius: 5px;
  border: solid black solid wheat;
}

#book-info {
  padding-left: 1rem;
  margin-top: 1rem;
}

#book-info h2 {
  font-size: 1.2rem;
  padding-bottom: 10px;
  color: black;

}

#book-actions {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* #available p {
  font-size: 1rem;
  margin-right: 1.7rem;
  background-color: 
} */

#book-childs p {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}